<div class="max-w-7xl mx-auto px-5 py-5">
  <header class="flex items-center justify-between">

    <h1 class="cursor-pointer text-3xl font-bold text-orange-600">
      Yummy.
    </h1>

    <nav class="hidden md:block">
      <ul class="flex items-center gap-6">
        @for (nav of navs; track nav.path) {
        <li>
          <a [routerLink]="nav.path" [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="'text-orange-600 hover:underline font-bold'">
            {{ nav.name }}
          </a>
        </li>
        }
      </ul>
    </nav>

    <div class="flex items-center gap-6">
      <button aria-label="Search">
        Search
      </button>

      <a routerLink="/cart" [routerLinkActive]="'font-bold text-orange-600 hover:underline'" aria-label="Cart">
        <div class="flex items-center gap-1">
          Cart

          @if (cartItems.length > 0) {
          <span class="text-red-600">*</span>
          }
        </div>
      </a>

      @if (!authStore.isAuthenticated()) {
      <button (click)="switchLoginModal()"
        class="rounded-full border px-4 py-1 transition hover:bg-orange-600 hover:text-white cursor-pointer">
        Sign In
      </button>
      } @else {
      <div class="relative group">
        <span class="w-6 h-6 text-gray-700 cursor-pointer" (click)="isShowMenu = !isShowMenu">User</span>
        @if(isShowMenu){
        <div class="absolute right-0 top-8 z-50">
          <ul class="min-w-40 bg-white rounded-lg shadow-lg border border-gray-200 py-2 text-end">
            <li class="cursor-pointer" (click)="isShowMenu = !isShowMenu">
              <a to="/profile" class="block px-4 py-2 hover:bg-orange-50">Profile</a>
            </li>
            <li class="cursor-pointer" (click)="isShowMenu = !isShowMenu">
              <a to={ROUTES.MYORDER} class="block px-4 py-2 hover:bg-orange-50"> My Orders</a>
            </li>
            <li (click)="logout()" class="px-4 py-2 cursor-pointer hover:bg-orange-50">
              Logout
            </li>
          </ul>
        </div>
        }
      </div>
      }
    </div>

  </header>
  <app-modal [isOpen]="isModalOpen()">
    <app-login (closeModel)="switchLoginModal()" />
  </app-modal>
</div>